<!--templates/forgot-password.jst.ejs-->

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <!--type: "POST"-->
    <!--url: "/api/v1/users/reset_password"-->
    <!--data: { email: "" }-->
    <form role="form" class="form" action="/api/v1/users/reset_password">
      <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="email">
      </div>
      <button type="submit" class="btn btn-default full-width">Send email</button>
    </form>
  </div>
</div>

